---
import { getCollection } from "astro:content";
import FAQAccordion from "@/components/FAQAccordion";
import GSAPSection from "@/components/ui/gsap-section";
import type { Translation } from "@/i18n";

interface Props {
    t: Translation;
}

const { t } = Astro.props;

const faqsCollection = await getCollection("faqs");
const nurseriesFaqs = faqsCollection.find((entry) => entry.id === "faqsNurseries.md");
---

<GSAPSection client:load className="grid gap-16 px-4">
    <div class="text-center flex flex-col gap-6 items-center max-w-2xl mx-auto">
        <h2
            class="text-xl sm:text-3xl font-bold bg-gradient-to-r from-foreground to-foreground/40 bg-clip-text text-transparent max-w-lg sm:max-w-2xl text-center mx-auto"
        >
            {t.faqs.nurseries?.title ?? t.faqs.title}
        </h2>
        <p class="max-w-xl text-muted-foreground">
            {t.faqs.nurseries?.description ?? t.faqs.description}
        </p>
    </div>
    <FAQAccordion faqs={nurseriesFaqs?.data.faqs || []} t={t} client:load />
</GSAPSection>
