---
import { translations, languages } from '@/i18n/index.ts';

import Layout from "@/layouts/main.astro";
import Section from '@/modules/finance/Section.astro';
import Hero from '@/modules/finance/Hero.astro';


export function getStaticPaths() {
  return languages.map(lang => ({
    params: { lang },
    props: { lang }
  }));
}

const { lang } = Astro.props;
const t = translations[lang as keyof typeof translations];
---

<Layout content={{ title: t.meta.financeTitle }} lang={lang}>
    <section class="grid gap-16">
        <Hero t={t} />
        <Section t={t} />
    </section>
</Layout>