---
import { getCollection } from 'astro:content';
import FAQAccordion from '@/components/FAQAccordion';
import GSAPSection from '@/components/ui/gsap-section';
import type { Translation } from '@/i18n';

interface Props {
    t: Translation
}

const {
    t,
} = Astro.props;

const faqsCollection = await getCollection('faqs');
const financeFaqs = faqsCollection.find(entry => entry.id === 'faqsFinance.md');
---
<GSAPSection client:load className="grid gap-16 px-4">
    <div class="text-center flex flex-col gap-6 items-center pt-16 max-w-2xl mx-auto">
        <h2 class="text-3xl font-bold">{t.faqs.finance?.title ?? t.faqs.title}</h2>
        <p class="max-w-xl">{t.faqs.finance?.description ?? t.faqs.description}</p>
    </div>
    <FAQAccordion
        faqs={financeFaqs?.data.faqs || []}
        t={t}
        client:load
    />
</GSAPSection> 