---
import { translations, languages } from '@/i18n/index.ts';

import Layout from "@/layouts/main.astro";
import Hero from '@/modules/pricing/Hero.astro';
import Plans from '@/modules/pricing/Plans.astro';

export function getStaticPaths() {
  return languages.map(lang => ({
    params: { lang },
    props: { lang }
  }));
}

const { lang } = Astro.props;
const t = translations[lang as keyof typeof translations];
---

<Layout content={{ title: t.meta.pricingTitle }} lang={lang}>
    <section class="grid gap-16 px-4">
        <Hero t={t} />
        <Plans t={t} />
    </section>
</Layout>