---
import Layout from "@/layouts/main.astro";
---
<Layout content={{ title: "Edena | Page Not Found" }} lang={"en"}>
    <section class="p-4">
        <p class="font-semibold text-center">
            Page Not Found
        </p>
    </section>
</Layout>
            