---
import FAQAccordion from "@/components/FAQAccordion";
import GSAPSection from "@/components/ui/gsap-section";
import type { Translation } from "@/i18n";

interface FAQItem {
    question: string;
    answer: string;
}

interface Props {
    t: Translation;
    title: string;
    description: string;
    faqs: FAQItem[];
}

const { t, title, description, faqs } = Astro.props;
---

<GSAPSection client:load className="grid gap-16 px-4">
    <div class="text-center flex flex-col gap-6 items-center max-w-2xl mx-auto">
        <h2
            class="text-xl sm:text-3xl font-bold bg-gradient-to-r from-foreground to-foreground/40 bg-clip-text text-transparent max-w-lg sm:max-w-2xl text-center mx-auto"
        >
            {title}
        </h2>
        <p class="max-w-xl text-muted-foreground">
            {description}
        </p>
    </div>
    <FAQAccordion faqs={faqs} t={t} client:load />
</GSAPSection>
